<div class="navbar bg-gray-400">
    <div class="navbar-center flex justify-center">
        <ul class="menu menu-horizontal p-0">
            <li><a class="btn btn-ghost normal-case text-xl" href="/">Home</a></li>
            <li><a class="btn btn-ghost <%= (page == '/lego/sets') ? 'active' : '' %>" href="/lego/sets">View Collection</a></li>
            <li><a class="btn btn-ghost <%= (page == '/about') ? 'active' : '' %>" href="/about">About</a></li>
        </ul>
    </div>
</div>