<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body class="bg-gray-400">
        <%- include('partials/navbar', { page: "/about" }) %>
            
        <div class="container mx-auto width: 100%;">
            <div class="hero-content flex-col lg:flex-row">
                <img src="/myphoto.JPG" class="max-w-sm rounded-lg shadow-2xl" />
                
                <div>
                    <h1 class="text-5xl font-bold">Good morning!</h1>
                    <p class="py-6">My name is Hengmin Tsao. I'm a current student at Seneca College. I'm taking WEB322, OOP345, DBS311, SYD366 now. My hobby is playing badminton and listening
                        to music. Hope you enjoy the stay here!!!!!!</p>
                  </div>
                </div>
            </div>
        </div>
</body>
</html>